<div class="jumbotron text-center">
  	<div class="overlay">
  	</div>
  	<div class="background-image">
  	</div>
  	<div class="caption">
    	<h1>Open Jobs</h1>
    	<p>Early Edition</p>
  	</div>
</div>
<div class="container-fluid article-container">
</div>