body {
  font-size: .875rem; }

a.art-link {
  color: #212529; }

a.limit {
  border: 1px solid #dee2e6;
  line-height: 1.25;
  padding: .5rem .75rem; }
  a.limit:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #0056b3; }

a.status {
  text-transform: uppercase; }

a i .sort {
  color: black; }

button.save-on-change {
  display: none;
  margin-top: 20px; }

button.save-order {
  display: none;
  margin-top: 20px; }

div .dimension-edits div.form-row > [class*=col-] {
  padding: 0px; }

div .notes-entry {
  display: none; }
  div .notes-entry textarea {
    padding-left: 15px;
    padding-right: 15px; }

div .row {
  padding: 3px; }
  div .row i {
    color: grey; }

div .target {
  background-color: #f8f9fa; }

div .wrapper {
  padding: 20px; }

footer {
  background-color: black;
  height: 60px; }
  footer .container {
    padding: 10px;
    color: white; }

i.fa-pencil-alt:hover {
  color: #007bff; }

span.edit {
  padding-right: 10%;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px; }

span.key {
  margin-bottom: 5px;
  font-weight: 500; }

span.replaced {
  font-size: 0rem; }
  span.replaced::after {
    content: attr(data-status);
    font-size: .875rem; }

span.selectAll {
  background-color: #fff; }

table tr.new {
  background-color: rgba(102, 178, 255, 0.2); }

table tr td i.fa-search:hover {
  color: #007bff; }

table tr td.status {
  text-transform: uppercase; }
  table tr td.status select {
    text-transform: uppercase; }

table tr.order-edit {
  display: none;
  background-color: #f8f9fa; }

table.nested td {
  border: none; }

ul li.page-item a.page-link.active {
  font-weight: 500;
  text-decoration: underline;
  background-color: #e9ecef; }

ul.nav.nav-tabs {
  border-bottom: none; }

#orders-table {
  margin-bottom: 65px;
  padding-bottom: 35px; }

#toolbar {
  padding: 10px 60px 10px 10px;
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.075); }
  #toolbar button {
    padding: .25rem 1.25rem; }

.add {
  font-size: 2em;
  font-weight: 200px;
  margin: auto; }

.additional-orders {
  color: grey; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; }

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1); }

.form-row {
  padding: 10px; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); }
  .sidebar .nav-link {
    font-weight: 500;
    color: #333; }
    .sidebar .nav-link .active {
      color: #007bff; }
      .sidebar .nav-link .active .feather {
        color: inherit; }
    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase; }

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky; }

.modal {
  width: 100%; }

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0; }

.navbar .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); }

.new-customer {
  display: none; }

.order-details {
  display: none; }

.orderDetails {
  display: none; }

.radios {
  padding: 10px; }

.times {
  font-size: 2em;
  margin: auto;
  color: grey; }

.ui-autocomplete {
  position: absolute;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: .875rem; }
  .ui-autocomplete .highlight {
    font-weight: bold;
    text-decoration: underline; }

[role="main"] {
  padding-top: 48px; }

/*# sourceMappingURL=style.css.map */